target/
classes/
lib/
logs/
javadoc/
javadocs/
.classpath
*.log
*/bin
*/test-output
*.class
*/.project
*.project
*.settings
*.settings/*
*.iml
*/DS_Store
.idea/
test-output/
*.classpath
*.settings/*
core/.classpath
core/.settings/*
.classpath
.settings*
